* {
        box-sizing: border-box;
}



body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        font-size: 16px ;
        line-height: 24px;
        background: #FFF;
        font-weight: 400;
        margin: 0;
}

nav {
        padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
        margin: 0;
}

p {
        margin: 0;
}

ul {
        margin: 0;
        padding: 0;
}

img {
        display: block;
        max-width: 100%;
}

button {
        cursor: pointer;
}




.link {
        text-decoration: none;
}

.list {
        list-style-type: none;
}



.page-header {
        border-bottom: 1px solid #e7e9fc;
}

.container {
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
}

.top-sidebar {
        display: flex;
}



/* Nav */
.logotipe {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        margin-right: 76px;
    }

.logotipe-studio {
        color: #2E2F42;
}

.page-nav {
        display:flex;
        align-items: center;
        margin-right: 332px;
}

.menu {
        display: flex;
        gap: 40px;
}

.nav-list {
        color: #2E2F42;
        font-weight: 500;
        letter-spacing: 0.02em;
}

.nav-link {
        color: #2e2f42;
        padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
        color: #404bbf;
}


/* Adress */
.page-address {
        display:flex;
        letter-spacing: 0.02em;
        font-style: normal;
}

.address-list {
        display: flex;
        gap: 40px;
}

.address-list-item {
        padding: 24px 0;
}

.address-link {
        color: #434455;
}

.address-link:hover,
.address-link:focus {
       color: #404bbf;
}

/* Sections */
.section-name {
        background-color: #2e2f42;
}

.section-size {
        display: block;
        padding: 188px 0;
        width: 1440px;
        height: 600px;
        flex-shrink: 0;
}

.name {
        color: #FFF;
        background: #2E2F42;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
}

/* button */
.button {
        color: #FFF;
        font-weight: 500;
        letter-spacing: 0.04em;
        background: #4D5AE5;
        line-height: 1.5;
}

.button-size {
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        background-color:#4d5ae5;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
        background-color: #404BBF;
}
 


/* Sections */
.second-section-size {
        padding: 120px 0;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.page-component {
        display: flex;
        align-items: center;
        gap: 24px;
        min-width: 264px;

}

.page-component-item {
        width: calc((100% - 72px) / 4);
}

.section-title-third {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.section-paragraph {
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* Our team */
.third-section-size {
        height: 732px;
        padding: 120px 0;
}

.our-team {
        background-color: #F4F4FD;
}

.our-team-section-title-second {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.our-team-list {
        display: flex;
        align-items: center;
        gap: 24px;
}

.our-team-item {
        background-color: #FFFFFF;
        display: inline-flex;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 4px 4px;
}

.worker {
        padding: 32px 0;
}

.our-team-section-title-third {
        text-align: center;
        margin-bottom: 8px;
}

.our-team-section-paragraph {
        text-align: center;
}


/* portfolio */
.our-portfolio-section-size {
        height: 1000px;
        padding: 120px 0;
}

.our-portfolio-section-title-second {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.our-portfolio-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
        row-gap: 48px;
}

.our-portfolio-item {
        display: flex;
        width: 360px;
        height: 420px;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        flex-shrink: 0;
}

.our-portfolio-section-title-third {
        margin-bottom: 8px;
}

.portfolio {
        display: flex;
        padding: 0px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        margin-bottom: 8px;
        border-top: none;
        margin-bottom: 8px;
}

/* Footer */
.page-footer {
        background-color: #2e2f42;
}

.footer-logotipe-studio {
        color: #f4f4fd;
}

.footer-paragraph {
        color: #F4F4FD;
        letter-spacing: 0.02em;
}
